<configuration>

    <!-- 定义日志输出格式 -->
<!--    <property name="LOG_PATTERN" value="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>-->
    <property name="LOG_PATTERN" value="%d{HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{15}) -%kvp %msg %n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 根日志记录器 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 特定包的日志级别调整 -->
    <logger name="ai.platon.agents" level="INFO"/>

</configuration>
